body {
    font-family: 'Open Sans', sans-serif;
}

section {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 600px;
    margin: 50px auto;
    gap: 20px;
}

.cell {
    width: 200px;
    height: 200px;
    background-color: #5271ff;
    font-size: 60px;
}

h1 {
    font-size: 76px;
    font-weight: bold;
}

button {
    background-color: #5271ff;
    font-size: 20px;
    font-style: bold;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #38b6ff;
    color: white;
    margin-bottom: 30px;
}

button:hover {
    background-color: white;
    color: #5271ff;
    box-shadow: 0 12px 16px 0 rgba(9, 46, 116, 0.24),
        0 17px 50px 0 rgba(13, 52, 226, 0.19);
}
